<div class="card" style="width:300; height: 300;">
    <img src="{{basePath}}{{carDetail.carImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description: </strong>{{carDetail.description}}</li>
            <li class="list-group-item"><strong>Brand: </strong>{{carDetail.brandName}}</li>
            <li class="list-group-item"><strong>Color: </strong>{{carDetail.colorName}}</li>
            <li class="list-group-item"><strong>Daily Price: </strong>{{carDetail.dailyPrice}}</li>
            <li class="list-group-item"><strong>Model Year: </strong>{{carDetail.modelYear}}</li>
        </ul>
    </div>
</div>

<!-- <table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Daily Price</th>
            <th>Model Year</th>
        </tr>
    </thead>

    <tr>
        <td>{{carDetail.id}}</td>
        <td>{{carDetail.description}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}}</td>
        <td>{{carDetail.modelYear}}</td>
    </tr>
</table> -->