<div class="card" style="width:300; height: 300;">
    <img src="{{basePath}}{{carDetail.carImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description: </strong>{{carDetail.description}}</li>
            <li class="list-group-item"><strong>Brand: </strong>{{carDetail.brandName}}</li>
            <li class="list-group-item"><strong>Color: </strong>{{carDetail.colorName}}</li>
            <li class="list-group-item"><strong>Daily Price: </strong>{{carDetail.dailyPrice}}</li>
            <li class="list-group-item"><strong>Model Year: </strong>{{carDetail.modelYear}}</li>
        </ul>
    </div>
    <br>
    <div>
        <div class="input-group mb-3">
            <span for="startDate" class="input-group-text" id="basic-addon1">Start Date</span>
            <input type="date" [(ngModel)]="startDate" class="form-control" id="startDate"  aria-describedby="basic-addon1">
            
            <span class="input-group-text" id="basic-addon2">End Date</span>
            <input type="date" value="" class="form-control"  aria-describedby="basic-addon2">
            <button (click)="rentTheCar()">Rent The Car</button>
          </div>
    </div>
    <div>
        
    </div>
    
</div>